.landing {
  overflow-y: hidden;
}

.mainSection {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.mainSection.center,
.mainSection.right {
  color: white;
  background-color: #3399ff;
}

.mainSection.left {
  background-color: white;
}

.mainSection h2 {
  font-family: 'Neucha', cursive;
  font-weight: bold;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
}

.mainSection.center h2 {
  font-size: 80px;
  text-align: center;
  margin-top: 369px;
}


.mainSection.left h2,
.mainSection.right h2 {
  font-size: 40px;
}

.mainSection.left p,
.mainSection.right p {
  font-size: 20px;
  line-height: 25px;
  margin-top: 40px;
}

.text1 {
  text-align: justify;
  margin-top: 18%;
  margin-left: 130px;
  width: 650px;
}

.text2 {
  text-align: justify;
  margin-top: 13%;
  margin-left: 53%;
  width: 711px;
}

.text3 {
  text-align: justify;
  margin-top: 18%;
  margin-left: 130px;
  width: 650px;
}

.text4 {
  text-align: justify;
  margin-top: 18%;
  margin-left: 53%;
  width: 711px;
}

.text5 {
  text-align: justify;
  margin-top: 18%;
  margin-left: 130px;
  width: 650px;
}

.text6 {
  text-align: justify;
  margin-top: 18%;
  margin-left: 53%;
  width: 711px;
}

.text7 {
  text-align: justify;
  margin-top: 18%;
  margin-left: 130px;
  width: 650px;
}


#pic1 {
  position: relative;
  top: -450px;
  left: 1000px;
  width: 756px;
  height: 730px;
  background-image: url(../images/1.svg);
}

#pic2 {
  position: relative;
  top: -565px;
  left: 135px;
  width: 756px;
  height: 730px;
  background-image: url(../images/2.svg);
}

#pic3 {
  position: relative;
  top: -491px;
  left: 965px;
  width: 756px;
  height: 730px;
  background-image: url(../images/3.svg);
}
