.landing {
  overflow-y: hidden;
}

.mainSection {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.mainSection.center,
.mainSection.right {
  color: white;
  background-color: #3399ff;
}

.mainSection.left {
  background-color: white;
}

.mainSection h2 {
  font-family: 'Neucha', cursive;
  font-weight: bold;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
}

.mainSection.center h2 {
  position: relative;
  font-size: 80px;
  text-align: center;
  margin-top: 20%;
  /*padding: 400px 0;*/
  z-index: 1;
}


.mainSection.left h2,
.mainSection.right h2 {
  font-size: 40px;
}

.mainSection.left p,
.mainSection.right p {
  font-size: 20px;
  line-height: 25px;
  margin-top: 40px;
}

.text1 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 200px;
  width: 650px;
}

.text2 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 53%;
  width: 711px;
}

.text3 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 200px;
  width: 650px;
}

.text4 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 53%;
  width: 711px;
}

.text5 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 200px;
  width: 650px;
}

.text6 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 53%;
  width: 711px;
}

.text7 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 200px;
  width: 650px;
}

@media screen and (max-width: 1500px) {

  .mainSection {
    width: 1500px;
    height: 1000px;
  }

  .mainSection.left h2,
  .mainSection.right h2 {
    font-size: 30px;
  }

  .mainSection.left p,
  .mainSection.right p {
    font-size: 18px;
  }

  .text1 { width: 450px; }

  .text2 { width: 511px; }

  .text3 { width: 450px; }

  .text4 { width: 511px; }

  .text5 { width: 450px; }

  .text6 { width: 511px; }

  .text7 { width: 450px; }

}

@media screen and (max-width: 1024px) {

  .text1 { width: 400px; }

  .text2 { width: 450px; }

  .text3 { width: 400px; }

  .text4 { width: 450px; }

  .text5 { width: 400px; }

  .text6 { width: 450px; }

  .text7 { width: 400px; }

}
