.one {
  position: relative;
  animation: oneanimation ease 15s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes oneanimation {
  0%  {transform: translate(-800px,400px);}
  50% {transform: translate(800px,-1100px) rotate(-13deg) scale(1.5);}
  100% {transform: translate(-400px,400px) rotate(23deg) scale(1.5);}
}

.pic1 {
  position: relative;
  top: -350px;
  right: -1100px;
  height: 500px;
  width: 500px;
  animation: picanimation1 ease .8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes picanimation1 {
  0%  {transform: translate(0px,0px);}
  50% {transform: rotate(-2deg);}
}

.pic2 {
  position: relative;
  top: -420px;
  right: -250px;
  height: 500px;
  width: 500px;
  animation: picanimation2 ease .8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes picanimation2 {
  0%  {transform: translate(0px,0px);}
  50% {transform: rotate(-2deg);}
}

.pic3 {
  position: relative;
  top: -450px;
  right: -1000px;
  height: 700px;
  width: 700px;
  animation: picanimation3 ease .8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes picanimation3 {
  0%  {transform: translate(0px,0px);}
  50% {transform: rotate(-2deg);}
}

.pic4 {
  position: relative;
  top: -480px;
  right: -270px;
  height: 500px;
  width: 500px;
  animation: picanimation4 ease .8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes picanimation4 {
  0%  {transform: translate(0px,0px);}
  50% {transform: rotate(-2deg);}
}

.pic5 {
  position: relative;
  top: -400px;
  right: -1000px;
  height: 700px;
  width: 700px;
  animation: picanimation5 ease .8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes picanimation5 {
  0%  {transform: translate(0px,0px);}
  50% {transform: rotate(-2deg);}
}

.pic6 {
  position: relative;
  top: -350px;
  right: -270px;
  height: 500px;
  width: 500px;
  animation: picanimation6 ease .8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes picanimation6 {
  0%  {transform: translate(0px,0px);}
  50% {transform: rotate(-2deg);}
}

.pic7 {
  position: relative;
  top: -400px;
  right: -1000px;
  height: 600px;
  width: 600px;
  animation: picanimation7 ease .8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
}

@keyframes picanimation7 {
  0%  {transform: translate(0px,0px);}
  50% {transform: rotate(-2deg);}
}


@media screen and (max-width: 1500px) {

  .pic1 {
    top: -320px;
    right: -900px;
    height: 400px;
    width: 400px;
  }

  .pic2 {
    top: -420px;
    right: -200px;
    height: 400px;
    width: 400px;
  }

  .pic3 {
    top: -400px;
    right: -800px;
    height: 500px;
    width: 500px;
  }

  .pic4 {
    top: -400px;
    right: -200px;
    height: 400px;
    width: 400px;
  }

  .pic5 {
    top: -370px;
    right: -900px;
    height: 400px;
    width: 400px;
  }

  .pic6 {
    top: -300px;
    right: -200px;
    height: 400px;
    width: 400px;
  }

  .pic7 {
    top: -370px;
    right: -900px;
    height: 400px;
    width: 400px;
  }

}

@media screen and (max-width: 1300px) {

  .pic1 {
    top: -300px;
    height: 300px;
    width: 300px;
  }

  .pic2 {
    top: -400px;
    height: 300px;
    width: 300px;
  }

  .pic3 {
    top: -350px;
    height: 400px;
    width: 400px;
  }

  .pic4 {
    height: 300px;
    width: 300px;
  }

  .pic5 {
    height: 300px;
    width: 300px;
  }

  .pic6 {
    top: -280px;
    height: 300px;
    width: 300px;
  }

  .pic7 {
    top: -320px;
    height: 300px;
    width: 300px;
  }

}

@media screen and (max-width: 1024px) {

  .pic1 {
    top: -300px;
    right: -650px;
    height: 300px;
    width: 300px;
  }

  .pic2 {
    top: -420px;
    right: -100px;
    height: 300px;
    width: 300px;
  }

  .pic3 {
    top: -350px;
    right: -600px;
    height: 400px;
    width: 400px;
  }

  .pic4 {
    top: -450px;
    right: -100px;
    height: 300px;
    width: 300px;
  }

  .pic5 {
    top: -370px;
    right: -650px;
    height: 300px;
    width: 300px;
  }

  .pic6 {
    top: -300px;
    right: -100px;
    height: 300px;
    width: 300px;
  }

  .pic7 {
    top: -320px;
    right: -650px;
    height: 300px;
    width: 300px;
  }

}
